/*Propiedades globales*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    /*background: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);*/
    background: rgb(246,153,242);
    background: linear-gradient(146deg, rgba(246,153,242,1) 25%, rgba(236,132,231,1) 36%, rgba(230,75,223,1) 61%, rgba(217,77,212,1) 73%, rgba(200,59,195,1) 89%);
}

/*nav-bar*/
ul{
    display: flex;
    height: 100px;
    gap: 10px;
    justify-content:end;
    align-items: center;
    list-style: none;
    padding-left: 20px;
    
    
}

.item-logo{
    margin-right: auto; 
}

li a{
    text-decoration-line: none;
    color: white;
    font-size: 2rem;
    font-weight:300;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

nav li{
    background: green;
    flex-basis: 200px;
    transition: all 1s 1s ease;
}
nav li:hover{
    flex-grow: 1;
    transition: all 1s 1s ease;
    
   
}
nav li:last-child:hover,nav li:first-child:hover{
    flex: 1 3 15%;
    border: none;
    background:pink;
}

/*formulario*/

.enc textarea{
    width: 100%;
    height: 500px;
    margin: 0 auto;
    resize: none;
    font-weight: 200;
    font-size: 1.6rem;
    font-family: Verdana, Tahoma, sans-serif;
}


form{
    display: grid;
    width: 80%;
    grid-template-columns:repeat(2,1fr);
    grid-template-rows: auto auto;
    align-content: center;
    justify-content: center;
    gap: 20px;
    margin: 20px auto 10px;
   
    
}

.enc{
    position: relative;
   
}
.enc button{
    display:inline;
    position: absolute;
    border: none;
    cursor: pointer;
    top: 85%;
    left: 580px;
}



/*Botones borrar encriptar, desencriptar */
section.botones{
    display: flex;
    width: 100%;
    gap:20px;
    align-items: center;
    justify-self: center;
    grid-column: 1/3;   
}
section.botones button{
    height: 50px;
    width: 25%;
    cursor: pointer;
    font-size: 2em;
    color: black;
    border-radius: 25px;
    border-color: skyblue;
    border-style: solid;
    margin: 0 auto
    
}

.encriptar{
    background:#CDFADB ;
}

.desencriptar{
    background: #FFCF96;
}

section.botones button:hover{
    flex-grow: 1;
    transition: all 2s 1s ease;
       
}

textarea:focus{
    outline: none;
    background: #F6FDC3;
}




   
    
    
   



